@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), color-stop(#9f67e9), color-stop(#8d66e9), color-stop(#7a66e8), to(#6565e7));
  background: linear-gradient(to bottom, #af67e9, #9f67e9, #8d66e9, #7a66e8, #6565e7);
  background-size: cover;
  background-repeat: no-repeat;
  height: 140vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}

main .cube-img {
  position: relative;
  width: 140px;
  height: 140px;
  top: 300px;
  right: 365px;
  z-index: 3;
}

main .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 100%;
  width: 1000px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.3);
}

main .card .FAQ-box {
  width: 50%;
  height: 400px;
}

main .card .FAQ-box h1 {
  margin-top: 60px;
}

main .woman-img-mobile {
  display: none;
}

main .bg-pattern-mobile {
  display: none;
}

main .image-box {
  width: 50%;
  height: 400px;
  overflow: hidden;
}

main .image-box .woman-img-desktop {
  width: 350px;
  position: relative;
  top: 65px;
  right: 56px;
  z-index: 2;
}

main .image-box .bg-pattern-desktop {
  width: 735px;
  position: relative;
  bottom: 494px;
  right: 425px;
  z-index: 1;
}

main .image-box .FAQ-box {
  width: 50%;
}

.questions {
  width: 90%;
}

/* Style the Headings that are used to open and close the accordion panel */
.accordion {
  color: #4a4b5e;
  cursor: pointer;
  padding: 12px;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

/* Change color of the heading and icon (on hover and click) */
.active,
.accordion:hover,
.accordion:hover::after {
  color: #f47c57;
}

.active {
  color: #1d1e35;
  font-weight: 700;
}

/* Add "plus" sign (+) after Accordion */
.accordion::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  color: #f47c57;
  font-weight: bold;
  float: right;
}

/* Add "minus" sign (-) after Accordion (when accordion is active) */
.active::after {
  font-family: "Font Awesome 5 Free";
  content: "\f077";
  color: #f47c57;
}

/* Style the accordion panel */
.accordion-panel {
  padding: 0 18px;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid #e7e7e9;
  color: #787887;
}

.attribution {
  text-align: center;
  font-size: 11px;
}

.attribution a {
  color: #dd6e24;
}
/*# sourceMappingURL=style.css.map */